
<h4 class="news">Recent News</h4>


<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">scMerge leverages factor analysis, stable expression, and pseudoreplication to merge multiple single-cell RNA-seq datasets <a href="https://t.co/JhjAERWbQ5">https://t.co/JhjAERWbQ5</a></p>&mdash; Pengyi Yang (@PengyiYang82) <a href="https://twitter.com/PengyiYang82/status/1121905458434854913?ref_src=twsrc%5Etfw">April 26, 2019</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">This arvo we had a look at clustering &amp; classification algorithms to make sense of the big data we <a href="https://twitter.com/hashtag/EMBLAPhD?src=hash&amp;ref_src=twsrc%5Etfw">#EMBLAPhD</a> students are faced with nowadays! Thank you Dr. Kitty Lo, Dr. Pengyi Yang &amp; Dr. Dario Strbenac from <a href="https://twitter.com/Sydney_Uni?ref_src=twsrc%5Etfw">@Sydney_Uni</a> Check out their in house R-Package: <a href="https://t.co/BMZXovaQFS">https://t.co/BMZXovaQFS</a> <a href="https://t.co/RiWf4DA0k1">pic.twitter.com/RiWf4DA0k1</a></p>&mdash; EMBL Australia (@EMBLAustralia) <a href="https://twitter.com/EMBLAustralia/status/1016565231273701376?ref_src=twsrc%5Etfw">July 10, 2018</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Our paper is highlighted on Nature Review Genetics! <a href="https://t.co/yqbnaYLjFN">https://t.co/yqbnaYLjFN</a></p>&mdash; Yang lab (@PengyiYang82) <a href="https://twitter.com/PengyiYang82/status/922953816718184448?ref_src=twsrc%5Etfw">October 24, 2017</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

See <a href="news.html">all news</a>.
